<div id="conteudo_manutencao">
    <div class="row green darken-2">
        <div id="manuts_athenas" class="col s12 white">
            <div class="row m-t-md">
                <div class="col s12 center-align">
                    <a href="javascript: lerPatrimonioManutencao();" class="btn waves-effect waves-light">
                        <i class="material-icons left">add</i>
                        <span> Enviar Patrimônio para Manutenção</span>
                    </a>
                </div>
            </div>
            <form id="form_manuts_athenas_search" class="row" method="post" action="javascript: buscarManutencoes();">
                <div class="input-field input-group col s12">
                    <input type="text" id="manuts_athenas_searchfield" class="validate">
                    <label for="manuts_athenas_searchfield">Procurar</label>
                    <span class="suffix">
                        <button type="submit" class="btn btn-flat waves-effect">
                            <i class="material-icons">search</i>
                        </button>
                    </span>
                </div>
            </form>
            <table id="tabela_manutencoes"
                class="table hide table-striped"
                data-paging="true"
                data-sorting="true"
                data-filtering="false"
            ></table>
        </div>
    </div>
    <div class="progress"><div class="indeterminate"></div></div>
</div>

<div id="movimentos_manutencao" class="modal bottom-sheet">
    <div class="modal-content">
        <h4 id="movimentos_manutencao__title"></h4>
        <div id="movimentos_manutencao__content">
            <div class="progress"><div class="indeterminate"></div></div>
        </div>
    </div>
</div>