<div class="row light-green lighten-4 center-align">
    <div class="col s12"><h5>Nova Manutenção</h5></div>
</div>
<form action="javascript: createNovaManutencao()" class="row">
    <div class="col s12 input-field">
        <input id="nova_manutencao__patrimonio" type="text" class="autocomplete">
        <label for="nova_manutencao__patrimonio">Patrimônio</label>
    </div>
    <div class="col s12 input-field">
        <input id="nova_manutencao__destino" type="text" class="autocomplete">
        <label for="nova_manutencao__destino">Destino</label>
    </div>
    <div class="col s12 input-field">
        <input id="nova_manutencao__responsavel" type="text" class="autocomplete">
        <label for="nova_manutencao__responsavel">Reponsável</label>
    </div>
    <div class="col s12 input-field">
        <input id="nova_manutencao__substituto" type="text" class="autocomplete">
        <label for="nova_manutencao__substituto">Substituído Por</label>
    </div>
    <div class="col s12 input-field">
        <textarea id="nova_manutencao__descricao" class="materialize-textarea"></textarea>
        <label for="nova_manutencao__descricao">Descrição da Anormalidade</label>
    </div>
    <div class="col s6 right-align">
        <a href="javascript: backButton();" class="btn btn-flat waves-effect">Cancelar</a>
    </div>
    <div class="col s6">
        <button type="submit" class="btn waves-effect waves-light">Salvar</button>
    </div>
</form>
