<div class='row'>
    <div class='col s12'>
        <h5>Autorizações de Inventário</h5>
        <hr>
    </div>
</div>
<div class='row'>
    <div id="collection_autorizacoes" class='collection'></div>
</div>