<a class="btn-floating btn-large light-green waves-effect waves-light"><i class="material-icons">loupe</i></a>
<ul>
    <li><a class="btn-floating light-green lighten-2 waves-effect darken-1"
           href="javascript: abreScanner((result)=>{consultaItemInventario(result, true);}, ()=>{novaLeitura();});">
        <i class="material-icons">camera_alt</i>
    </a></li>
    <li><a href="javascript: novaLeitura();" class="btn-floating light-green waves-effect darken-1">
        <i class="material-icons">keyboard</i>
    </a></li>
</ul>