<div class="modal-content center-align">
    <p>
        <i class="material-icons modal-icon">help_outline</i>
    </p>
    <p id="confirm__mensagem"></p>
</div>
<div class="modal-footer row">
    <div class="col s6 center-align">
        <a href="javascript: $('#confirm').modal('close');" class="waves-effect btn btn-flat">Não</a>
    </div>
    <div class="col s6 center-align">
        <a id="confirm__botao_sim" href="#" class="waves-effect btn btn-flat">Sim</a>
    </div>
</div>