<ul id="dropdown_header" class="dropdown-content">
    <li id="botao_inicio">
        <a href="javascript: goHome();">
            <i class="small material-icons">home</i>
        </a>
    </li>
    <li id="botao_sync">
        <a href="javascript: sincronizaBanco();">
            <i class="small material-icons">sync</i>
        </a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="javascript: logout();">
            <i class="small material-icons grey-text text-darken-3">exit_to_app</i>
        </a>
    </li>
</ul>

<nav id="header_nav" class="green darken-2">
    <div class="nav-wrapper">
        <ul class="left">
            <li>
                <a href="javascript: backButton();" class="btn btn-flat waves-effect waves-light white-text left">
                    <i class="material-icons">chevron_left</i>
                </a>
            </li>
            <li>
                <h5 id="module_name" class="left"></h5>
            </li>
        </ul>
        <ul class="right">
<!--            <li id="icone_offline">-->
<!--                <button class="btn btn-floating">-->
<!--                    <i class="small material-icons white-text">signal_wifi_off</i>-->
<!--                </button>-->
<!--            </li>-->
            <li>
                <a class="dropdown-trigger waves-effect waves-light" href="#!" data-target="dropdown_header">
                    <i class="material-icons">more_vert</i>
                </a>
            </li>
        </ul>
    </div>
</nav>