<div id="home_content" class="row">
    <div id="home_logo" class="col s12">
        <img src="./img/logo_sem_palavras.svg">
        <h5>Defensoria Pública do Estado do Tocantins</h5>
    </div>
</div>
<!--<div id="home_button_menu">-->
<!--    <a href="#" data-target="mobile_sidenav" class="sidenav-trigger">-->
<!--        <i class="material-icons">menu</i>-->
<!--    </a>-->
<!--</div>-->
<div class="home_cards_container">
<!--    <a href="javascript: getAutorizacoes();" class="home_card card_50pct waves-effect">-->
    <a href="#" class="home_card disabled">
        <i class="material-icons left">gradient</i><span> Inventário</span>
    </a>
    <a href="javascript: mostrarMovimentacoes();" class="home_card waves-effect">
        <i class="material-icons left">local_shipping</i><span> Movimentação</span>
    </a>
    <a href="javascript: mostrarManutencoes();" class="home_card waves-effect">
        <i class="material-icons left">build</i><span> Manutenção</span>
    </a>
    <a href="javascript: $('#configuracoes').show();" class="home_card waves-effect">
        <i class="material-icons left">settings</i><span> Configurações</span>
    </a>
    <a href="javascript: help();" class="home_card waves-effect">
        <i class="material-icons left">help</i><span> Ajuda</span>
    </a>
    <a href="javascript: sobre();" class="home_card waves-effect">
        <i class="material-icons left">info</i><span> Sobre</span>
    </a>
</div>
