<div class="row">
    <div class="col s12">
        <h5>
            <i class="material-icons">business</i> Inventário Patrimonial
        </h5>
    </div>
</div>

<div class="row" id='inventarios_autorizados'></div>