<div class="center-align">
    <img src="img/logo.png" style="height: 150px;">
    <div class="row">
        <div class="col s12 center-align">
            <br>
            <h5>Autenticação</h5>
        </div>
        <div id="login_erro" class="col s12 center-align" style="color: red;"></div>
    </div>
    <div class="row">
        <form class="col s12" id="form_autenticacao" name="form_autenticacao">
            <div class="input-field col s12" style="padding:12px 30px;">
                <input id="username" type="text" class="validate">
                <label for="username">Usuário</label>
            </div>
            <div class="input-field col s12" style="padding:12px 30px;">
                <input id="password" type="password" class="validate">
                <label for="password">Senha</label>
            </div>
            <div class="col s12">
                <a href="javascript: login();" class="waves-effect btn">Entrar</a>
            </div>
        </form>
    </div>
</div>