<ul id="mobile_sidenav" class="sidenav dark">
    <li>
        <div id="mobile_sidenav_user" class="user-view">
            <a href="#name"><span class="white-text name"></span></a>
            <a href="#email"><span class="white-text email"></span></a>
        </div>
    </li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header" href="#"><i class="material-icons">business</i> Patrimônio</a>
                <div class="collapsible-body dark">
                    <ul>
                        <li>
                            <a href="javascript: getAutorizacoes();">
                                <i class="material-icons">gradient</i> Inventário
                            </a>
                        </li>
                        <li>
                            <a href="javascript: mostrarMovimentacoes();">
                                <i class="material-icons">local_shipping</i>Movimentação de Itens
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li></li>
            <li>
                <a class="sidenav-close" href="javascript: $('#configuracoes').show();">
                    <i class="material-icons">settings_applications</i> Configurações
                </a>
            </li>
            <li>
                <a class="sidenav-close" href="javascript: help();">
                    <i class="material-icons">help</i> Ajuda
                </a>
            </li>
            <li>
                <a class="sidenav-close" href="javascript: sobre();">
                    <i class="material-icons">info</i> Sobre
                </a>
            </li>
        </ul>
    </li>
    <li id="versao_app" class="right-align">Versão </li>
</ul>
