<div class="content">
    <svg viewBox="0 0 24 24">
        <path fill="#FFCA28" d="M3.27,1.44L2,2.72L4.05,4.77C2.75,5.37 1.5,6.11 0.38,7C4.2,11.8 8.14,16.67 12,21.5L15.91,16.63L19.23,19.95L20.5,18.68C14.87,13.04 3.27,1.44 3.27,1.44M12,3C10.6,3 9.21,3.17 7.86,3.5L9.56,5.19C10.37,5.07 11.18,5 12,5C15.07,5 18.09,5.86 20.71,7.45L16.76,12.38L18.18,13.8C20.08,11.43 22,9 23.65,7C20.32,4.41 16.22,3 12,3M5.57,6.29L14.5,15.21L12,18.3L3.27,7.44C4,7 4.78,6.61 5.57,6.29Z" />
    </svg>
    <p>
        Sem conexão com a internet!<br>
        <small>Não será possível sincronizar dados com o Athenas.</small>
    </p>
    <a href="javascript: $('#offline').hide();" class="waves-effect btn">OK</a>
</div>