<h5 id="patrimonio_detalhes__plaqueta"></h5>
<div class="row">
    <span class="font-bold">Espécie</span><br>
    <span id="patrimonio_detalhes__especie"></span>
</div>
<div class="row">
    <span class="font-bold">Entrada</span><br>
    <span id="patrimonio_detalhes__data_compra"></span>
</div>
<div class="row">
    <span class="font-bold">Valor Atual</span><br>
    <span id="patrimonio_detalhes__valor_atual"></span>
</div>
<div class="row">
    <span class="font-bold">Conservação</span><br>
    <span id="patrimonio_detalhes__conservacao_display"></span>
</div>
<div class="row">
    <span class="font-bold">Localização</span><br>
    <span id="patrimonio_detalhes__localizacao_descricao"></span>
</div>
<div class="row">
    <span class="font-bold">Tombo</span><br>
    <span id="patrimonio_detalhes__data_tombo"></span>
</div>
<div class="row">
    <span class="font-bold">Descrição</span><br>
    <span id="patrimonio_detalhes__descricao"></span>
</div>