<div class="row light-green lighten-4 center-align">
    <div class="col s12"><h5>Lote de Movimentação</h5></div>
</div>

<div class="row">
    <div class="col s12"><b>Destino:</b><br><span id="detalhes_lote__destino"></span></div>
    <div class="col s12"><b>Responsável:</b><br><span id="detalhes_lote__responsavel"></span></div>
    <div class="col s12"><b>Co-Responsável:</b><br><span id="detalhes_lote__co_responsavel"></span></div>
</div>

<div class="row">
    <div id="detalhes_lote__botoes" class="col s12 center-align">
        <a id="detalhes_lote__sincronizar" href="#" class="btn btn-flat waves-effect btn-small">
            <i class="material-icons">cloud_upload</i>
        </a>
        <a id="detalhes_lote__novo_item" href="#" class="btn btn-flat waves-effect btn-small">
            <i class="material-icons">camera_alt</i>
        </a>
        <a id="detalhes_lote__deletar_lote" class="btn btn-flat waves-effect btn-small"
           href="#">
            <i class="material-icons">delete</i>
        </a>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <hr><h6 class="center-align">Itens Patrimoniais:</h6>
        <div id="detalhes_lote__itens"></div>
    </div>
</div>