<div class="row light-green lighten-4 center-align">
    <div class="col s12"><h5>Novo Lote de Movimentação</h5></div>
</div>
<form action="javascript: createNovoLoteMovimentacao()" class="row">
    <div class="col s12 input-field">
        <input id="novo_lote__destino" type="text" class="autocomplete">
        <label for="novo_lote__destino">Destino</label>
    </div>
    <div class="col s12 input-field">
        <input id="novo_lote__responsavel" type="text" class="autocomplete">
        <label for="novo_lote__responsavel">Responsável</label>
    </div>
    <div class="col s12 input-field">
        <input id="novo_lote__co_responsavel" type="text" class="autocomplete">
        <label for="novo_lote__co_responsavel">Co-Reponsável</label>
    </div>
    <div class="col s6 right-align">
        <a href="javascript: backButton();" class="btn btn-flat waves-effect">Cancelar</a>
    </div>
    <div class="col s6">
        <button type="submit" class="btn waves-effect waves-light">Salvar</button>
    </div>
</form>
