body #conteudo {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #F3F2F4;
}

.overall {
    display: none;
}

/*#header nav{*/
/*    background-color: #0f9d58 !important;*/
/*    color: white;*/
/*}*/
#help {
    background-color: white;
    overflow-y: scroll;
}

#sobre {
    background-color: white;
    padding: 10px;
    overflow-y: scroll;
}

#loading-bar .content div {
    width: 100%;
    background-color: gray;
}

#loading-bar-loaded {
    background-color: #00C853;
}

#home_content {
    background-image: url('../img/home_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#home_logo {
    text-align: center;
    color: white;
}

.home_cards_container {
    position: absolute;
}

.home_card {
    background-color: white;
    float: left;
    border: none;
    /*text-align: center;*/
    color: #33691E !important;
    position: relative;
}

.home_card.disabled {
    color: silver !important;
    box-shadow: none;
}

.home_card.disabled .disabled {
    position: absolute;
    color: red;
}

#home_button_menu {
    position: absolute;
    color: white;
}

#home_button_menu a .material-icons {
    color: white !important;
}

#mobile_sidenav_user {
    background-color: #222;
    text-align: center;
}

#module_name {
    font-family: Roboto;
}

#icone_offline button {
    box-shadow: inset 0px 0px 4px #004600;
    background-color: rgba(0, 0, 0, 0.18) !important;
}

#offline_tarja{
    position: absolute;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
    z-index: 999999;
    text-align: center;
    display: none;
}
