/* xhdpi */
body{
    font-size: 12px;
    width: 100%;
    height: 100vh;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 300 !important;
}

.material-icons {
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
}

.loading-content{
    margin-left: calc(50% - 38px);
    margin-top: calc(50% - 38px);
}

.brand-logo > img{
    height:45px;
    margin-top: 5px;
}

#splash{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top:calc(50% - 100px);
}

#splash div{
    margin: calc(40% - 100px) auto auto;
}

#login{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top:calc(50% - 100px);
}

#login:first-child{
    margin: calc(40% - 100px) auto auto;
}

#login div{
    padding: 0 5%;
}

.overall{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.overall > .content{
    width: 50%;
    border-radius: 10px;
    margin: calc(50% - 75px) auto auto;
    padding: 15px;
}

.btn-sem-margem{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.collection-item-detail{
    padding: 6px;
}

.collection-item-father .collection-item-detail{
    border-left: 1px solid white;
}

.collection-item-father .collection-item-detail:first-child{
    border-radius: 10px 0 0 10px;
    border-left: none;
}

.collection-item-father .collection-item-detail:last-child{
    border-radius: 0 10px 10px 0;
}

.collection-item-detail i{
    font-size: 10px;
}

.collection-item-avatar i{
    margin-left:-10px;
    margin-top:10px;
}

.collection-item .row{
    margin-bottom: 0 !important;
}

.block_aviso{
    margin: 15px 25px;
    border-radius: 10px;
    padding: 10px 30px;
}

.btn_sync_itens{
    right: 65px;
    top: 64px;
}

.btn_upload_leituras{
    position: absolute;
}

.tabs .tab a{
    font-size: 12px;
} /*color to the text*/

.suffix, .prefix {
    width:1%;
}

nav ul a.btn{
    /*margin-top: -8px;*/
    margin-left: 0;
    margin-right: 0;
}
