body{
    background-color: #F3F2F4;
    font-family: Roboto, sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: url('../img/loading2.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.material-icons {
    font-family: 'Material Icons';
    font-style: normal !important;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

#splash{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: gray;
    background-color: #F1F8e9;
    position: absolute;
    z-index: 999999;
    visibility: visible;
}

#splash div{
    text-align: center;
}

#login{
    background-color: #F1F8e9;
    position: absolute;
    z-index: 999998;
    visibility: visible;
    text-align: center;
}

#login #username{
    text-transform: lowercase;
}

.overall{
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    z-index: 999998;
}

.overall > .content{
    background-color: #FBFBFB;
    color: #333;
    text-align: center;
}

.block_aviso{
    background-color: #E0E0E0;
    text-align: center;
}

.btn_sync_itens{
    position: absolute;
}

.btn_upload_leituras{
    right: 10px;
    top: 64px;
}

.tabs .tab a{
    color:#1b5e20;
} /*color to the text*/

.tabs .tab a:hover {
    background-color:#e8f5e9;
    color:#000;
} /*Text color on hover*/

.tabs .tab a.active {
    background-color:#e8f5e9 !important;
    color:#1b5e20;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:#1b5e20;
} /*Color of underline*/

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #e8f5e9 !important;
    outline: none;
}

.footable .btn-primary {
    box-shadow: none;
    background-color: white;
    border-color: white;
    color: gray;
}

.sidenav.dark, .sidenav.dark li ul.collapsible{
    background-color: #151515;
    color: rgba(255, 255, 255, 0.5);
}

.sidenav.dark .subheader {
    color: rgba(255,255,255,0.5);
}

.sidenav.dark .divider {
    background-color: rgba(255,255,255,0.2);
}

.sidenav.dark hr {
    background-color: rgba(255,255,255,0.2);
}

.sidenav.dark li a {
    color: rgba(255, 255, 255, 0.5);
}

.sidenav.dark li a i.material-icons {
    color: rgba(255,255,255,0.5);
}

.collapsible-body.dark {
    background-color: #151515;
    color: rgba(255, 255, 255, 0.5);
}

.tabs {
    background-color: transparent !important;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(255, 255, 255, .2) !important;
}

.tabs .tab a.active {
    background-color: rgba(255, 255, 255, .2) !important;
}

.darken-2 .col .tabs .tab a, .darken-2 .col .tabs .tab a.active{
    color: white;
}

nav#header_nav{
    box-shadow: none !important;
}

.footable-detail-row{
    background-color: #EEE !important;
}

.footable-detail-row td table{
    border: 1px solid #DDD;
}

.footable-details tbody tr th{
    text-align: right !important;
}

.input-group {
    display: table;
}

.input-group input, .input-group select, .suffix, .prefix {
    display: table-cell;
}

.modal.bottom-sheet {
    max-height: 75%;
}

.justify-align{
    text-align: justify;
}

a{
    color: inherit !important;
}

#confirm .content{
    width: 75%;
}

.collapsible-header i{
    margin-right: 0 !important;
}

.font-bold{
    font-weight: bold;
}

.item-identificator{
    border-left: 2px solid teal;
    padding-left: 2px;
}

.striped .row:nth-child(odd) {
    background-color: white;
    margin-bottom: 0 !important;
}

.striped .row:nth-child(even) {
    background-color: #eceff1;
    margin-bottom: 0 !important;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.modal-icon{
    color: #FFCA28;
    font-size: 24px;
}

.home_card.disabled .icone .material-icons, .home_card.disabled h5{
    color: silver;
}