<div id="conteudo_movimentacao">
    <div class="row green darken-2">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a href="#movims_aplicativo" class="active">Aplicativo</a></li>
                <li class="tab col s6"><a href="#movims_athenas">Athenas</a></li>
            </ul>
        </div>
        <div id="movims_athenas" class="col s12 white">
            <form id="form_movim_athenas_search" class="row" method="post" action="javascript: buscarMovimentacoes();">
                <div class="input-field input-group col s12">
                    <input type="text" id="movim_athenas_searchfield" class="validate">
                    <label for="movim_athenas_searchfield">Procurar</label>
                    <span class="suffix">
                        <button type="submit" class="btn btn-flat waves-effect">
                            <i class="material-icons">search</i>
                        </button>
                    </span>
                </div>
            </form>
            <table id="tabela_movimentacoes"
                   class="table hide table-striped"
                   data-paging="true"
                   data-sorting="true"
                   data-filtering="false"
            ></table>
        </div>
        <div id="movims_aplicativo" class="col s12 white">
            <div class="row m-t-md">
                <div class="col s12 center-align">
                    <a href="javascript: mostrarFormNovoLoteMovimentacao();" class="btn waves-effect waves-light">
                        <i class="material-icons left">add</i>
                        <span> Novo Lote de Movimentação</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div id="movims_aplicativo__lista" class="col s12">
                    <div class="progress"><div class="indeterminate"></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="progress"><div class="indeterminate"></div></div>
</div>

<div id="itens_movimentacao" class="modal bottom-sheet">
    <div class="modal-content">
        <h4 id="itens_movimentacao__title"></h4>
        <div id="itens_movimentacao__content">
            <div class="progress"><div class="indeterminate"></div></div>
        </div>
    </div>
</div>
