<div class="content" style="width: 90%; text-align: left;">
    <h6 class="center-align">Configurações</h6>
    <form action="#">
        <p><label><input type="checkbox" id="atualiza_inventariados"><span>Atualizar itens de inventários</span></label><br>
            <small>Atualiza os itens do inventário sempre que o iventário for listado (recomendado).</small></p>
        <p><label><input type="checkbox" id="remover_leituras"><span>Remover leituras após sincronização</span></label><br>
            <small>Exclui as leituras que forem enviadas ao Athenas (recomendado).</small></p>
        <p><label><input type="checkbox" id="base_offline"><span>Sincronizar para Trabalhar Off-Line</span></label><br>
            <small>Mantém as informações de todos os bens patrimoniais armazenados no dispositivo, para utilização em localidades sem conexão com a internet (pode causar lentidão).</small></p>
        <p><label><input type="checkbox" id="permanecer_autenticado"><span>Permanecer Autenticado</span></label><br>
            <small>Armazena os dados do usuário no dispositivo, ignorando a solicitação de Usuário e Senha para operação (necessário para utilização sem conexão com a internet).</small></p>
        <p class="right-align"><br>
            <a href="javascript: $('#configuracoes').hide();" class="waves-effect btn-flat">Cancelar</a>
            <a href="javascript: salvarConfiguracoes();" class="waves-effect btn">Salvar</a>
        </p>
    </form>
</div>