<nav id="header_nav" class="green darken-2">
    <div class="nav-wrapper">
        <ul class="left">
            <li>
                <a href="javascript: backButton();" class="btn btn-flat waves-effect waves-light white-text left">
                    <i class="material-icons">chevron_left</i>
                </a>
            </li>
            <li>
                <h5 id="module_name" class="left"></h5>
            </li>
        </ul>
        <ul class="right">
            <li>
                <a class="dropdown-trigger btn waves-effect waves-light" href="#" data-target="dropdown_header">
                    <i class="material-icons">more_vert</i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<ul id="dropdown_header" class="dropdown-content">
    <li id="botao_inicio">
        <a href="javascript: goHome();"><i class="left material-icons">home</i> Início</a>
    </li>
    <li id="botao_sync">
        <a href="javascript: sincronizaBanco();"><i class="left material-icons">sync</i> Sincronizar</a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="javascript: logout();"><i class="left material-icons">exit_to_app</i> Sair</a>
    </li>
</ul>
