<div>
    <div class="row">
        <div class="col s12 center-align">
            <h3>Ajuda</h3>
        </div>
    </div>
    <div class="row">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header"><i class="material-icons">settings_applications</i>Configurações</div>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <h5><b>Atualizar Itens de Inventários</b></h5>
                            <p><b>Padrão:</b> Habilitado</p>
                            <p style="text-align: justify"><b>Descrição:</b> Ao abrir um setor cadastrado para ser inventariado, o aplicativo realiza o download dos itens alocados nesta localidade, armazenando no aplicativo seu estado de conservação, dados do patrimônio (plaqueta, espécie e descrição) e se o bem já foi lido (inventariado).<br>
                                É de grande importância que estes itens sejam constantemente atualizados, para manter a paridade entre as informações presentes no aplicativo com as informações presentes no sistema Athenas. Em caso de disparidade, itens podem ficar sem leitura, sem atualização de seu estado de conservação ou alocados em localidade divergente da realidade.</p>
                            <p style="text-align: justify"><b>Usabilidade:</b> Em localidades onde a conexão com a internet é precária, a constante atualização dos itens do inventário pode atrasar ou inviabilizar (caso não houver conexão) a leitura dos itens. Esta opção de configuração tem o intento de impedir a constante busca por informações atualizadas no sistema Athenas quando houver dificuldade de conexão com a internet.</p>
                            <p style="text-align: justify"><b>Considerações:</b> Caso o usuário mantenha esta opção desabilitada e listar os itens de uma localidade recém-cadastrada no sistema Athenas, é provável que esta localidade não possua itens na listagem do aplicativo, visto a atualização de itens estar desabilitada.</p>
                        </li>
                        <li style="margin-top: 60px;">
                            <hr>
                            <h5><b>Remover Leituras após Sincronização</b></h5>
                            <p><b>Padrão:</b> Habilitado</p>
                            <p style="text-align: justify"><b>Descrição:</b> Ao realizar a leitura de uma plaqueta, o aplicativo armazena em sua memória as informações da leitura, que são enviadas ao sistema Athenas ao executar o <i class="material-icons tiny tiny">cloud_upload</i> Envio de Leitura. Após o envio ao sistema Athenas, estas informações tornam-se inúteis ao aplicativo, visto que o item lido passa a ser considerado 'Inventariado'.<br>
                                Considerando a inutilidade das informações e a capacidade limitada de armazenamento do dispositivo móvel, o armazenamento destes dados em um inventário que busca o registro de mais de 11.700 itens pode prejudicar a capacidade de processamento do aplicativo, comprometendo sua performance. Esta opção de configuração - caso permaneça habilitada - remove os dados das leituras que são enviadas ao sistema Athenas. Caso permaneça desabilitada, as leituras continuam armazenadas no aplicativo, mas são ignoradas em novos envios.</p>
                        </li>
                        <li style="margin-top: 60px;">
                            <hr>
                            <h5><b>Sincronizar para Trabalhar Off-Line</b></h5>
                            <p><b>Padrão:</b> Desabilitado</p>
                            <p style="text-align: justify"><b>Descrição:</b> Inventariar localidades onde não há conexão com a internet inviabiliza algumas funcionalidades do aplicativo, como a consulta a itens que - no Athenas - estão alocados em setor divergente da realidade.<br>
                                Ao inventariar um bem que não está listado no setor inventariado, o aplicativo consulta o sistema Athenas para buscar o setor em que o bem está alocado, possibilitando o inventariante confirmar que o bem está em setor divergente e movimentar o patrimônio para o setor correto.<br>
                                Esta opção de configuração realiza o download de todas as informações de todos os bens patrimoniais, bem como sua localização atual, possibilitando o inventário de bens que estão sendo utilizados em setor diferente do registrado no sistema Athenas.</p>
                            <p style="text-align: justify"><b>Considerações:</b> O armazenamento das informações completas de mais de 11.700 itens patrimoniais, incluindo sua localização, utiliza grande espaço de armazenamento do dispositivo móvel, podendo prejudicar a performance do aplicativo, logo, esta opção deve ser utilizada somente em casos de ausência de conexão com a internet.</p>
                        </li>
                        <li style="margin-top: 60px;">
                            <hr>
                            <h5><b>Permanecer Autenticado</b></h5>
                            <p><b>Padrão:</b> Desabilitado</p>
                            <p style="text-align: justify"><b>Descrição:</b> A operação do aplicativo deve ser realizada por um usuário ativo do sistema Athenas e cadastrado como membro da equipe inventariante, tornando necessária a autenticação do usuário informando login e senha na inicialização do aplicativo. Esta autenticação necessita de conexão com a internet para consultar os dados do usuário no sistema Égide.<br>
                                Em localidades sem conexão com a internet, a operação do aplicativo é inviabilizada caso esta opção de configuração esteja desabilitada, pois não será possível autenticar o usuário. Ao habilitar esta opção de configuração, o aplicativo armazena os dados do usuário e não solicita autenticação em sua inicialização, direcionando o inventariante diretamente à listagem de inventários.</p>
                            <p style="text-align: justify"><b>Considerações:</b> A autenticação de usuários é fundamental para a garantia da segurança da informação em quaisquer sistemas, logo, a utilização deste recurso deve ser realizada com responsabilidade.</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">list</i>Itens de Inventário</div>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <h5><b>Itens de Inventário</b></h5>
                            <p class="center-align">
                                <img src="img/print_itens_inventario.png" width="80%"><br>
                                <small><b>Imagem 1</b> - Visualização dos Itens de Inventário</small>
                            </p>
                            <br>
                            <ol>
                                <li>
                                    <b>Status do Inventário</b> - Indica se o inventário está Aberto (pode realizar leituras) ou Fechado (não pode realizar leituras).<br>
                                </li>
                                <li>
                                    <b>Localidade do Inventário</b> - A descrição da localidade que está sendo inventariada.<br>
                                </li>
                                <li>
                                    <b>Baixar atualizações do Athenas</b> - Realiza o download dos dados do sistema Athenas e atualiza os itens armazenados no aplicativo, incluindo os itens que foram inventariados em outros aparelhos.<br>
                                </li>
                                <li>
                                    <b>Envia leituras ao Athenas</b> - Envia os dados das leituras realizadas no aplicativo, atualizando o status do item para 'Inventariado' e realiza movimentações caso sejam necessárias.<br>
                                </li>
                                <li>
                                    <b>Guias de listagem dos Itens:</b>
                                    <ul>
                                        <li>Todos: Lista todos os itens alocados nesta localidade;</li>
                                        <li>Leituras: Lista as leituras realizadas pelo aplicativo nesta localidade;</li>
                                        <li>Inventariados: Lista informações de itens que já foram inventariados, contendo o usuário que inventariou, a data e se a plaqueta precisa ser substituída;</li>
                                        <li>Não Inventariados: Lista os itens que não foram lidos nem inventariados.</li>
                                    </ul>
                                </li>
                                <li>
                                    <b>Item de Inventário (na guia 'Todos')</b>
                                    <ul>
                                        <li>A primeira linha apresenta a plaqueta de identificação do bem e a descrição de sua espécie;</li>
                                        <li>Abaixo da identificação do bem, estão listados - respectivamente - o estado de conservação, se o bem já foi inventariado e se já foi realizada leitura. Nesta última listagem, caso o bem já esteja inventariado, não é apresentado indicativo de leitura.</li>
                                    </ul>
                                </li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons tiny">camera_alt</i> Ler Itens</div>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <h5><b>Ler Item Patrimonial</b></h5>
                            <p class="center-align">
                                <img src="img/print_ler_itens.png" width="80%"><br>
                                <small><b>Imagem 2</b> - Visualização do formulário de Leitura de Item</small>
                            </p>
                            <ol>
                                <li>
                                    <b>Cabeçalho da Tela de Leitura de Item</b> - Contém informações do inventário onde o item a ser lido será vinculado:<br>
                                    <ul>
                                        <li>A Localidade inventariada;</li>
                                        <li><i class="material-icons tiny">folder</i>A quantidade de itens patrimoniais alocados nesta localidade;</li>
                                        <li><i class="material-icons tiny">check</i> A quantidade de Itens Lidos;</li>
                                        <li><i class="material-icons tiny">help</i> A quantidade de Itens Não Inventariados pendentes de leitura.</li>
                                    </ul>
                                </li>
                                <li>
                                    <b>Formulário de Leitura de Item</b>
                                    <ul>
                                        <li><b>Plaqueta</b> - O código da Plaqueta do bem patrimonial lido;</li>
                                        <li><b>Descrição</b> - A descrição da espécie do bem patrimonial lido;</li>
                                        <li style="text-align: justify"><b>Estado de Conservação</b> - O estado de conservação do bem patrimonial lido. Este campo pode ser alterado após a leitura, caso o inventariante julgue necessário.</li>
                                        <li style="text-align: justify"><b>Necessita substituição da plaqueta</b> - Caso este campo esteja marcado, o bem patrimonial lido será listado no relatório de substituições de plaquetas. Nas leituras de item digitadas, esta opção é marcada autimaticamente, nas leituras realizadas com a câmera do dispositivo móvel, esta opção é automaticamente desmarcada.</li>
                                        <li style="text-align: justify"><b>Botão Salvar Leitura</b> - Após realizar a leitura e confirmar as informações presentes no Formulário de Leitura, o inventariante precisa pressionar o Botão Salvar Leitura para efetivá-la.</li>
                                    </ul>
                                </li>
                            </ol>
                            <br>
                            <p class="center-align">
                                <img src="img/print_camera.jpg" width="80%"><br>
                                <small><b>Imagem 3</b> - Leitura de Item utilizando a câmera do dispositivo móvel.</small>
                            </p>
                            <p style="text-align: justify">A leitura de item patrimonial pode ser realizada utilizando a câmera do dispositivo móvel (Imagem 3) ou digitando o código da plaqueta no Formulário de Leitura de Item.<br>
                                Ao realizar a leitura do código de barras da plaqueta utilizando a câmera do dispositivo, o aplicativo buscará pelo bem patrimonial e preencherá os campos do Formulário de Leitura automaticamente.<br>
                                Para realizar a leitura digitando o código da plaqueta, o inventariante abre o Formulário de Leitura pressionando o Atalho de Leitura Digitada (Imagem 4, indicador 2), digita o código da plaqueta no campo 'Plaqueta' e pressiona o ícone <i class="material-icons tiny">search</i> para consultar as informações do patrimônio. Caso o bem patrimonial seja encontrado, os campos do Formulário de Leitura de Item serão preenchidos automaticamente.</p><br>
                            <p class="center-align">
                                <img src="img/print_atalhos_leitura.png" width="30%"><br>
                                <small><b>Imagem 4</b> - Atalhos para Leitura de Item.</small>
                            </p>
                            <b>Atalhos para Leitura de Item:</b>
                            <ol>
                                <li><i class="material-icons tiny">loupe</i> Abre os Atalhos para Leitura de Item;</li>
                                <li><i class="material-icons tiny">keyboard</i> Abre Formulário de Leitura de Item para digitar o código da plaqueta.</li>
                                <li><i class="material-icons tiny">camera_alt</i> Abre a câmera para ler uma plaqueta;</li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">stars</i>Legendas de Ícones</div>
                <div class="collapsible-body">
                    <ul>
                        <li><i class="material-icons tiny">search</i> Busca pelo termo digitado no campo relacionado;</li>
                        <li><i class="material-icons tiny">play_circle_outline</i> Inventário Aberto (dentro do período);</li>
                        <li><i class="material-icons tiny">done_all</i> Inventário Finalizado (fora do período);</li>
                        <li><i class="material-icons tiny">date_range</i> Data;</li>
                        <li><i class="material-icons tiny">folder</i> Quantidade;</li>
                        <li><i class="material-icons tiny">today</i> Data do Inventário;</li>
                        <li><i class="material-icons tiny">flag</i> Status de Conservação;</li>
                        <li><i class="material-icons tiny">help_outline</i> Item Não Inventariado;</li>
                        <li><i class="material-icons tiny">thumb_up</i> Item Inventariado;</li>
                        <li><i class="material-icons tiny">thumb_down</i> Item Pendente;</li>
                        <li><i class="material-icons tiny">check</i> Itens Lidos;</li>
                        <li><i class="material-icons tiny">help</i> Quantidade de Itens Pendentes;</li>
                        <li><i class="material-icons tiny">highlight_off</i> Item Não Lido;</li>
                        <li><i class="material-icons tiny">calendar_today</i> Data da Leitura;</li>
                        <li><i class="material-icons tiny">build</i> Item em Manutenção;</li>
                        <li><i class="material-icons tiny">cloud_download</i> Atualizar Itens;</li>
                        <li><i class="material-icons tiny">cloud_upload</i> Enviar Leituras;</li>
                        <li><i class="material-icons tiny">cloud_done</i> Leitura Enviada;</li>
                        <li><i class="material-icons tiny">error</i> Erro;</li>
                        <li><i class="material-icons tiny">report_problem</i> Mensagem de Alerta;</li>
                        <li><i class="material-icons tiny">cancel</i> Mensagem de Erro;</li>
                        <li><i class="material-icons tiny">save</i> Salvar Leitura;</li>
                        <li><i class="material-icons tiny">sync_disabled</i> Impossível Sincronizar;</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <a href="javascript: backButton();" class="btn btn-flat">Fechar</a>
        </div>
    </div>
</div>