<div>
    <div class="row">
        <div class="col s12">
            <div class="center-align">
                <p><img src="./img/logo.png" width="50%"></p>
                <h4><b>Aplicativo de Gestão Patrimonial do Sistema Athenas</b></h4>
                <h5>Diretoria de Tecnologia da Informação</h5>
                <h5>Coordenadoria de Desenvolvimento Tecnológico</h5><br>
            </div>
            <p>
                <i class="material-icons">local_phone</i> (63) 3218-6769
            </p>
            <p>
                <i class="material-icons">email</i> marcus.vm@defensoria.to.def.br / thales.aa@defensoria.to.def.br
            </p><br>
            <p>Versão: <span id="versao_app_sobre"></span></p>
            <p>Build: <span id="build_date_sobre"></span></p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <a href="javascript: backButton();" class="btn btn-flat">Fechar</a>
        </div>
    </div>
</div>