/* xhdpi */
#splash div img {
    height: 200px;
}

#help {
    background-color: white;
    padding: 10px;
    overflow-y: scroll;
}

#sobre {
    padding: 10px;
}

#loading-bar .content div {
    border-radius: 4px;
    height: 8px;
}

#loading-bar-loaded {
    height: 8px;
    border-radius: 4px;
    width: 0;
}

#loading .content img {
    margin-top: 15px;
}

#offline .content svg {
    width: 48px;
    height: 48px;
}

#sync_itens .content {
    width: 90% !important;
}

#versao_app {
    padding-right: 10px;
}

#mobile_sidenav .no-padding .collapsible-accordion li .sidenav-close {
    padding: 0 16px !important;
}

#botao_scanner a i {
    font-size: 30px;
}

#botao_scanner ul li a i {
    font-size: 25px;
}

#home_content {
    height: 235px;
}

#home_content h5 {
    margin-top: 5px;
    font-size: 18px;
}

#home_logo {
    padding-top: 20px;
}

#home_logo img {
    height: 120px;
}

.home_cards_container {
    top: 200px;
    left: 0;
    width: 100%;
}

.home_card {
    margin: 10px 20px;
    padding: 10px 10px;
    border-radius: 10px;
    width: calc(100% - 40px);
    /*box-shadow: 0 1px 3px grey;*/
}

.home_card span{
    font-size: 16px;
}

.home_card.disabled .disabled {
    top: 5px;
    right: 5px;
}

.card_50pct .icone i {
    font-size: 70px;
}

.card_50pct {
    width: calc(50% - 40px);
}

.card_33pct {
    width: calc(33% - 40px);

}

.card_33pct .icone i {
    font-size: 40px;
}

#home_button_menu {
    left: 15px;
    top: 15px;
}

#home_button_menu a .material-icons {
    font-size: 40px !important;
}

#module_name {
    padding: 14px 0;
    margin: 0;
}

#header_nav .nav-wrapper a a, #header_nav .nav-wrapper ul li a {
    height: 56px;
    margin: 0 !important;
}

#icone_offline {
    margin-top: -4px;
}

#icone_offline button .material-icons {
    margin-top: -10px;
    text-shadow: 1px 1px 2px #333;
}

#header_nav .nav-wrapper a .material-icons {
    height: 28px;
    padding: 6px 0;
    margin: 0;
}

#header_nav .nav-wrapper ul li a.dropdown-trigger .material-icons{
    margin-top: -12px;
}

#pagination .input-field {
    margin: 0 !important;
}

.footable-last-visible {
    padding: 0 !important;
}

.m-t-xs{
    margin-top: 5px;
}

.m-t-sm{
    margin-top: 10px;
}

.m-t-md{
    margin-top: 20px;
}

#offline_tarja {
    bottom: 0;
    height: 34px;
    padding: 4px 10px;
    font-size: 15px;
}